body {
    background-color: #f4f2ec;
    font-family: 'PP Mori', sans-serif;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-banner {
    position: relative;
    width: 100%;
    height: 80vh;
}

.top-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-text {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #ffffff;
}

.top-text h2 {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 3px;
}

.top-text p {
    margin-top: 1rem;
    font-size: 1.2rem;
}


.example1 {
    background-color: #cd6183;
    overflow: hidden;
    white-space: nowrap;
}

.example1 h4 {
    color: white;
    padding: 1rem 0;
    animation: scroll 15s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.btn {
    margin-top: 1.5rem;
    padding: 0.8rem 2.5rem;
    border: none;
    border-radius: 40px;
    background-color: #caca8e;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: #b94e6f;
    transform: translateY(-3px);
}

.products-section {
    padding: 5rem 8%;
    text-align: center;
}

.products-section h2 {
    margin-bottom: 3rem;
    font-size: 2rem;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}


.product-card {
    background: white;
    padding: 2rem;
    position: relative;
    transition: 0.3s ease;
}

.product-card:hover {
    transform: translateY(-6px);
}

.product-card img {
    width: 100%;
    height: 280px;
    object-fit: contain;
    transition: 0.4s ease;
}

.product-card h3 {
    margin-top: 1rem;
}

.product-card p {
    margin-top: 0.5rem;
    font-weight: 600;
}


.buy-btn {
    position: absolute;
    bottom: 110px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.6rem 2rem;
    border: none;
    border-radius: 30px;
    background-color: #caca8e;
    color: white;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s ease;
}



.product-card:hover .buy-btn {
    opacity: 1;
}


.product-card:hover img {
    transform: scale(1.05);
}


.buy-btn:hover {
    background-color: #caca8e;
}


.s-1 {
    background-color: #cd6183;
    position: relative;
    text-align: center;
    color: white;
}

